* {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .header {
  margin-top: 2.5%;
}
.wrapper .header .logo-wrapper {
  width: 75%;
  margin: auto;
}
.wrapper .header .logo-wrapper .logo-img {
  margin: 0 auto;
}
.wrapper .header .logo-wrapper .logo-img .logo {
  display: block;
  margin: 0 auto;
  width: 15%;
}
.wrapper .header .logo-wrapper .icon-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .header .nav-bar .nav-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30%;
  margin-top: 3%;
}
.wrapper .header .nav-bar .nav-items .nav-btn {
  list-style: none;
}
.wrapper .header .nav-bar .nav-items .nav-btn .btn {
  color: black;
  text-decoration: none;
  margin: 0 15px;
}